/** @format */

.paymentMethod {
  border: 1px solid #e4eaf5;
  border-radius: 3px;
  margin: 10px;

}


.paymentMethod:hover{
  border-color: #008ce6;
  cursor: pointer;
}

.active{
    border: 1px solid #008ce6;
}

.pay-btn{
  width: 95%;
  padding: 10px;
  background-color: #008ce6;
  border: none;
  color: white;
  cursor: pointer;
  height: 40px;
}

.paypal-payment-form{
  /* border: 1px solid red; */
  text-align: center;
}

.spinner {
  border: 1px solid #f3f3f3;
  border-top: 1px solid #370ad6;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  margin-left: 200px;
}

/* Animation for the spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}